.header {
  width: 100%;
  background-color:#03fcad;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
}

/* ===== DESKTOP LAYOUT ===== */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  order: 3;
}

.search input {
  padding: 5px 10px;
  border-radius: 4px;
  width: 300px;
  border: 1px solid #ccc;
}

.search-icon {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
  order: 2;
}

.navbar a {
  text-decoration: none;
  color:white;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar a:hover{
  text-decoration: underline;
  color:rgb(35, 173, 228);
  
}

.desktop-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-left: auto;
  color: white;
  order: 1;
}


/* =========web shop==========================*/
.cart-icon-wrapper {
  position: relative;
 
}

.cart-link {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
   gap: 10px;
}

.cart-icon {
  font-size: 1.5rem;
  /* margin-right: 8px; */
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 4px;
  position: relative;
  top: -8px;
  right: 8px;
}

/* =========web shop==========================*/

/* ===== MOBILE STYLES ===== */
.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.mobile-title {
  font-size: 2.2rem;
  margin: 0;
  color:white;
}

.menu-button {
  background: none;
  color:white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-row {
  width: 100%;
  background-color: #03fcad;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 10px;
  }

  .nav-wrapper.open {
    display: flex;
  }

  .mobile-header {
    display: flex;
  }

  .desktop-title {
    display: none;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .search {
    width: 100%;
    margin-left: 20%;;
  }
}

@media screen and (max-width: 600px) {
 
  .search {
    width: 100%;
    margin-left: 10%;;
  }
}

