h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 10px 0;
}
h4 {
    font-size: 20px;
}


.titleHome {
  border: 2px solid #03fcad;
  padding: 20px;
  margin-bottom: 24px;
  background-color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
}


/* .brands-box{
    padding-left: 5%;
} */
.aboutus-button{
    background-color:#03fcad;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


 
.brands-button {
  background-color:#03fcad;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  position:absolute;
  bottom: 30px;
  left: 40px;
  display: inline-block;
   
  cursor: pointer;
}

img{
	width:100%;
}
.cl-card-2{
	margin:8px;
	border: 1px solid rgb(242, 84, 26);
}


.containernew {
  padding: 40px 16px; /* Top/bottom: 40px, Left/right: 16px */
  max-width: 1200px;
  margin: 0 auto;     /* Center on larger screens */
  box-sizing: border-box;
}

  


 .brandbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between boxes */
}

.brandbox {
  flex: 0 0 calc(50% - 8px); /* 2 per row with gap */
  background-color: #e0e0e0;
  padding: 20px;
  border: 2px solid #03fcad;;
  box-sizing: border-box;
  height: 760px;
  position: relative;
}


 
.rednew div {
    margin: .3em;
    /* border: 2px solid #03fcad; */
}    

.brandbox h2{
  font-size: 50px;
  font-weight: bold;
  margin-left: 30px;
  color: #03fcad;
  margin-top: 35px;

}
.brandbox h3{
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;

}

.brandbox p{
  font-size: 20px;
  margin-left: 30px;
}

.img-finder{
  width: 74%;
  margin-left: 30px;
  margin-top:20px;
  margin-bottom:10px;

}
.img-ls{
  width: 80%;
  height: 15%;
  margin-left: 15px;
  margin-top:20px;
  margin-bottom:10px;


}
.img-aling{
  width: 80%;
  margin-left: 28px;
  margin-top:30px;
  margin-bottom:10px;


}

 
/*MOBILE VERSION */
@media only screen and (max-width: 600px) {
 

 
  .brandbox {
    flex: 0 0 100%;
    height: 910px;
  }
 
 }

 
 