/* Add this to productLists.css */
@media (max-width: 768px) {
  .btn {
    margin-bottom: 0.5rem;
  }

  .form-control {
    margin-bottom: 0.5rem;
  }
}
.page-item-active .page-link {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}
