.order-view {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 6px;
}

.order-items-table th,
.order-items-table td {
  text-align: left; /* Changed from center to left */
  vertical-align: middle;
}

.order-items-table th {
  background-color: #e9ecef;
}

.order-items-table td {
  font-size: 15px;
}

.order-items-table {
  margin-top: 20px;
}
